<template>
  <div>
    <Navbar />
    <v-container>
      <v-row justify="space-around" class="mt-3">
        <ClientsForm/>
        <ClientsTable/>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import ClientsForm from "@/components/ClientForm";
import ClientsTable from "@/components/ClientsTable";

export default {
  name: "Dashboard",
  components: { Navbar, ClientsForm, ClientsTable },
};
</script>