<template>
  <div class="father">
    <Snackbar :visible="snack.visible" :text="snack.text" :color="snack.color"/>
    <v-card>
      <v-card-title>Inicio de sesión</v-card-title>
      <v-card-text>
        <v-form autocomplete="OFF">
          <v-text-field
            label="Nombre de usuario"
            prepend-icon="mdi mdi-account"
            v-model="user.username"
          />
          <v-text-field
            label="Contaseña"
            prepend-icon="mdi mdi-lock"
            :append-icon="!showPass ? 'mdi mdi-eye' : 'mdi mdi-eye-off'"
            :type="showPass ? 'text' : 'password'"
            @click:append="showPass = !showPass"
            v-model="user.password"
          />
          <v-row justify="space-around" class="my-2">
            <v-btn color="error">Cancelar</v-btn>
            <v-btn color="success" @click="login">Confirmar</v-btn>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
import { mapMutations } from "vuex";
import Snackbar from "@/components/Snackbar";

export default {
  name: "Home",
  components: { Snackbar },
  data: () => ({
    showPass: false,
    snack: {
        visible: false,
        text: "",
        color: ""
    },
    user: {
      username: "",
      password: "",
    },
  }),
  methods: {
    ...mapMutations(["setUsername"]),
    async login() {
      try {
        const data = await axios.post("/login", this.user);
        if (data.status === 200) {
          this.setUsername(data.data.token);
        }
      } catch (error) {
          this.snack.color = "red";
          this.snack.text = "Usuario inválido";
          this.snack.visible = true;
          setTimeout(() => {
              this.snack.visible = false;
          }, 3000);
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
.father {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>