<template>
  <div>
    <h2>Mis clientes</h2>
    <v-data-table :headers="headers" :items="items">
      <template v-slot:body="{ items }">
        <tbody>
          <tr v-for="item in items" :key="item.id">
            <td>{{ item.name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.phone_number }}</td>
            <td>{{ item.email }}</td>
            <td>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    text
                    icon
                    color="red"
                    v-on="on"
                    @click="removeClient(item.id)"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </td>
          </tr>
        </tbody>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { bus } from "../bus";

export default {
  name: "ClientsTable",
  data: () => ({
    headers: [
      { text: "Nombre", value: "name" },
      { text: "Apellido", value: "last_name" },
      { text: "Teléfono", value: "phone_number" },
      { text: "Correo", value: "email" },
      { text: "Acciones", value: "actions" },
    ],
    items: [],
  }),
  methods: {
    ...mapActions(["getAllClients", "deleteClient"]),
    removeClient(id) {
      this.items = this.items.filter((item) => item.id !== id);
      this.deleteClient(id);
    },
  },
  created() {
    this.getAllClients();
  },
  mounted() {
    bus.$on("allClients", (data) => {
      if (data === "No hay clientes registrados") {
        this.items = [];
      } else {
        this.items = data;
      }
    });
    bus.$on("clientCreated", (data) => {
      if (this.items.length === 0) {
        this.items.push(data);
      } else {
        this.items.unshift(data);
      }
    });
  },
  beforeDestroy() {
    bus.$off("allClients");
  },
};
</script>