<template>
  <div>
    <Snackbar
      :visible="snackbar.visible"
      :text="snackbar.text"
      :color="snackbar.color"
    />
    <v-card>
      <v-card-title>Agregar cliente</v-card-title>
      <v-card-text>
        <v-form autocomplete="off">
          <v-text-field
            label="Nombre"
            prepend-icon="mdi mdi-account"
            v-model="client.name"
          />
          <v-text-field
            label="Apellido"
            prepend-icon="mdi mdi-account"
            v-model="client.last_name"
          />
          <v-text-field
            label="Teléfono"
            prepend-icon="mdi mdi-phone"
            maxlength="10"
            v-model="client.phone_number"
          />
          <v-text-field
            label="Correo electrónico"
            prepend-icon="mdi mdi-email"
            v-model="client.email"
          />
          <v-btn block color="blue" dark @click="addClient(client)"
            >Agregar</v-btn
          >
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import Snackbar from "@/components/Snackbar";
import { mapActions } from "vuex";
import { bus } from "../bus";

export default {
  name: "ClientForm",
  components: { Snackbar },
  data: () => ({
    client: {
      name: "",
      last_name: "",
      phone_number: "",
      email: "",
    },
    snackbar: {
      visible: false,
      text: "",
      color: "",
    },
  }),
  methods: {
    ...mapActions(["addClient"]),
  },
  mounted() {
    bus.$on("clientAdded", () => {
      this.client.name = "";
      this.client.last_name = "";
      this.client.phone_number = "";
      this.client.email = "";
      this.snackbar.color = "green";
      this.snackbar.text = "Cliente registrado";
      this.snackbar.visible = true;
      setTimeout(() => {
        this.snackbar.visible = false;
      }, 3000);
    });
  },
};
</script>