<template>
  <div>
    <v-app-bar
      color="deep-purple accent-4"
      dense
      dark
    >
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
      <v-toolbar-title>Bienvenido {{ user.name }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="logout">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  name: "Navbar",
  data: () => ({}),
  computed: {
    ...mapState(["user"]),
  },
  methods: {
      ...mapMutations(["logout"])
  }
};
</script>