<template>
    <v-snackbar v-model="visible" :color="color" top outlined rounded="pill">
        {{ text }}
    </v-snackbar>
</template>

<script>
export default {
    props:["visible", "text", "color"],
    name: "Snackbar"
}
</script>